<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="441727b3-b828-46d7-aa9f-2d2bbbe05f6d" Publisher="CN=Makoto" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LocalTileSample</DisplayName>
    <PublisherDisplayName>Makoto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LocalTileSample.App">
      <VisualElements DisplayName="LocalTileSample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LocalTileSample" ForegroundText="light" BackgroundColor="#1259fb">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>